<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PAGE_TITLE.BASKET'| translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-blue basket">
  <div *ngIf="!isSubmitted">
    <div *ngIf="basketCount$ | async">
        <div class="total-label">{{'BASKET.TOTAL' | translate}} ({{ basketCount$ | async | aohNumber }} {{'BASKET.CONTRACTS' | translate}})</div>
        <div class="total-amount--container">
          <div class="total-amount">{{(basketTotal$ | async) | aohNumber: 2}}</div>
          <div class="total-unit">EUR</div>
        </div>
        <div *ngFor='let item of items$ | async'>
            <basket-item [item]="item"></basket-item>
        </div>
    </div>

    <div *ngIf="(basketCount$ | async) == 0" class="no-items-container">
      <aoh-icon icon="contract-big"></aoh-icon>
      <div class="no-items-message">{{'BASKET.NO_CONTRACTS' | translate}}</div>
    </div>
  </div>

  <confirmation-page *ngIf="isSubmitted" [showClose]="false">
    <div class="confirmation-title">{{'BASKET.CONTRACT_CREATED' | translate}}</div>
    <div class="confirmation-subtitle">{{'BASKET.CONTRACT_CREATED_DESCRIPTION' | translate}}</div>
    <!-- todo: replace static dummy text -->
    <div class="confirmation-subtitle">max.mustermann@b2b.de</div>
  
    <div>
        <button class="btn-primary filled" (click)="navigate('contracts')">{{'BASKET.VIEW_MY_CONTRACTS' | translate}}</button>
        <button class="btn-primary" (click)="navigate('aoh')">{{'BASKET.VIEW_MY_PRICES' | translate}}</button>
        <button class="btn-primary" (click)="openShare()">{{'BASKET.SHARE_CONTRACTS' | translate}}</button>
    </div>
  </confirmation-page>

</ion-content>
  

<ion-footer class="basket-footer" *ngIf="!isSubmitted">
  <form [formGroup]="basketConfirmationForm" *ngIf="basketCount$ | async">
    <pricing-count-down (onSizeChange)="onFooterUpdate()"></pricing-count-down>
    <ion-toolbar>
        <ion-list>
            <ion-item>
                <ion-label >{{'BASKET.AGREE_TO' | translate}} 
                  <div class="terms-conditions-link" (click)="openTerms($event)">{{'BASKET.SALES_AND_DELIVER' | translate}}</div>
                </ion-label>
                <ion-checkbox formControlName="confirmed"></ion-checkbox>
            </ion-item>
        </ion-list>
        <div class="btn-footer">
          <button class="btn-primary filled" [disabled]="basketConfirmationForm.invalid" (click)="onSubmit()">{{ 'BASKET.CREATE_CONTRACTS' | i18nPlural: (basketCount$ | async) | translate }}</button>
        </div>
    </ion-toolbar>
  </form>
</ion-footer>
