.basket {
    .total-label{
        font-family: Arial;
        font-size: 18px;
        color: #757575;
        margin-bottom: 8px;
    }
    .total-amount--container{
        display: flex;
        align-items: baseline;
        margin-bottom: 29px;
    }
    .total-amount{
        font-family: Arial;
        font-size: 48px;
        font-weight: bold;
        color: #1b70d0;
    }
    .total-unit{
        font-family: Arial;
        font-size: 18px;
        color: #757575;
        margin-left: 6px;
    }

    .no-items-container {
        text-align: center;
        max-width: 160px;
        margin: 140px auto;
    }

    .no-items-message { 
        font-family: Arial;
        font-size: 18px;
        letter-spacing: -0.2px;
        text-align: center;
        color: #88b9ea;
        margin-top: 22px;
    }
    .basket-footer.footer {
        .toolbar-background {
            background: white;
        }
    }

}

.basket-footer.footer {
    .toolbar-content {
        margin: 0px;
    }
    .toolbar {
        padding: 0px;
    }
    .item.item-md {
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }

    .terms-conditions-link {
        font-family: Arial;
        font-size: 14px;
        color: #ff7e00;
        position: absolute; // absolute so that link is ontop of buttons item-cover
        display: inline;
        padding-left: 6px;
    }

    .label {
        font-family: Arial;
        font-size: 14px;
        color: #757575;
    }
    .btn-footer {
        padding: 0px 16px;
        padding-bottom: 12px;
        background: white;
    }
}