<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'PAGE_TITLE.CONTRACTS' | translate}}</ion-title>
        <ion-buttons end>
            <aoh-icon icon="search" (click)="openSearch()"></aoh-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="background-white">
    <search-details *ngIf="(showingSearchResults$ | async) && searchValues" [values]="searchValues" [fields]="contractsSearch.fields" (onChange)="onChangeSearch()"></search-details>
    <tab-bar *ngIf="!(showingSearchResults$ | async)" (onChange)="handleFilterChange($event)" [options]="tabOptions" [value]="(filter$ | async)?.isOpen"></tab-bar>
    <div class="sections-title-container" *ngIf="(showingSearchResults$ | async) && searchValues">
        <div class="sections-title">{{ 'SEARCH.RESULTS_TITLE' | translate }} {{contracts.length}}</div>
    </div>
    <div class="masonary-container padding" masonaryContainer="375">
        <contract-card *ngFor="let contract of contracts" [contract]="contract"></contract-card>
    </div>
</ion-content>