contract-card {
    display: block;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
    padding: 8px 20px;
    margin: 8px 0px;
    .contract-header {
        font-family: Arial;
        font-size: 18px;
        color: #1b70d0;
        margin-bottom: 2px;
    }
    .contract-location {
        font-family: Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        align-items: center;
        aoh-icon {
            margin-right: 4px;
        }
    }

    .contract-details {
        margin-top: 10px;
    }
}