dismiss-page-header {
    display: block;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 7px 13px;
    margin-top: 16px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    aoh-icon {
        margin-right: 17px;
    }
    .page-title {
        font-family: Arial;
        font-size: 18px;
        color: #1b70d0;
    }
    .page-subtitle {
        font-family: Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
    }
}