recent-filter {
    cursor: pointer;
    flex-shrink: 0;
    width: 286px;
    min-height: 84px;
    background: white;
    margin: 21px;
    padding: 18px 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    font-size: 16px;
    color: #1b70d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recent-filters {
    .scroll-content {
        left: 0px!important;
    }
}