<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title *ngIf="(customers$ | async)?.length > 1">Customers</ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content>
    <ion-list *ngIf="(customers$ | async)?.length > 1">
        <ion-item *ngFor="let customer of customers$ | async" (click)="selectCustomer(customer)">
            <ion-label>{{customer.LONG_NAME}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>