ion-buttons[end] {
    display: flex;
    justify-content: center;
    margin-right: 16px;
    aoh-icon {
        margin-left: 20px;
    }
}

.aoh-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    // HomeScreen
    &.liftings {
        background: url('../assets/imgs/liftings.svg');
    }
    &.contract {
        background: url('../assets/imgs/contract.svg');
    }
    &.contract-big {
        background: url('../assets/imgs/contracts-big.svg');
        width: 63px;
        height: 64px;
    }
    &.hsse {
        background: url('../assets/imgs/hsse.svg');
    }
    &.load-ids {
        background: url('../assets/imgs/load-ids.svg');
    }
    &.logout {
        background: url('../assets/imgs/logout.svg');
    }
    &.notification {
        background: url('../assets/imgs/notifications.svg');
    }
    &.prices {
        background: url('../assets/imgs/prices.svg');
    }
    &.ui {
        background: url('../assets/imgs/ui.svg');
    }
    &.home {
        background: url('../assets/imgs/home.svg');
    }

    &.home-tile {
        background-size: cover;
        width: 62px;
        height: 62px;
    }

    // AOHScreen
    &.basket {
        background: url('../assets/imgs/basket.svg')
    }
    &.filter {
        background: url('../assets/imgs/filter.png')
    }
    &.location {
        background: url('../assets/imgs/location.svg')
    }

    &.close {
        background: url('../assets/imgs/close.svg')
    }

    &.arrow {
        background:  url('../assets/imgs/arrow.svg');
        width: 15px;
        height: 15px;
    }

    &.arrow-blue {
        border-right: 5px solid #1b70d0; 
        border-bottom: 5px solid #1b70d0;
        height: 18px;
        width: 18px;
        margin: 3px;
        transform: rotate(-45deg);
    }

    &.search {
        background:  url('../assets/imgs/search.svg');
    }

    &.pdf {
        background:  url('../assets/imgs/pdf.svg');
    }

    &.settings {
        background: url('../assets/imgs/settings.svg')
    }
}

