<ion-content class="login-content" (swipe)="swipeEvent($event)">
    <div class="login-logo"></div>
    <div class="login-truck"></div>
    <div class="login-oil"></div>
    <div class="login-details">
        <div class="login-title">{{'LOGIN.TITLE' | translate}}</div>
        <div>
            <input type="text" class="login-input" [placeholder]="'LOGIN.USERNAME' | translate" [(ngModel)]="user.username"/>
            <input type="password" class="login-input" [placeholder]="'LOGIN.PASSWORD' | translate" [(ngModel)]="user.password"/>
        </div>
        <div>
            <button class="btn-primary" (click)="login()">{{ 'LOGIN.LOGIN' | translate }}</button>
            <button class="btn-primary" (click)="loginTest()">TEST</button>
        </div>
        <div class="forgotten-password">
            <button class="btn-link" (click)="forgottenPassword()">{{ 'LOGIN.FORGOTTEN' | translate }}</button>
        </div>
    </div>
</ion-content>