.login-content {
    background: linear-gradient(151deg, #51a4e3, #1b70d0 32%, #0a1969);
    padding: 15px;
    color: white;

    .login-details {
        position: absolute;
        top: 297px;
        left: 15px;
        right: 15px;
    }
    .login-title {
        font-family: AralV2CY-Med, Arial;
        font-style: bold;
        font-size: 30px;
        margin-bottom: 34px;
    }
    .login-input {
        width: 100%;
        height: 39px;
        background: none;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #b2d1f0;
        font-family: Arial;
        font-size: 14px;
        color: white;
        margin-bottom: 16px;
        border-radius: 0px;

        &::placeholder {
            color: #cee4f7;
        }
    }
    .forgotten-password {
        margin-top: 12px;
        min-height: 25px;
    }

    .login-logo {
        position: absolute;
        background: url('../assets/imgs/Logo-Login.png');
        background-size: cover;
        width: 150px;
        height: 113px;
        left: 32px;
        top: 140px;
    }
    .login-truck {
        position: absolute;
        background: url('../assets/imgs/truck-login.png');
        background-size: cover;
        width: 148px;
        height: 148px;
        top: -10px;
        right: 70px;
    }
    .login-oil {
        position: absolute;
        background: url('../assets/imgs/oil-login.png');
        background-size: cover;
        width: 132px;
        right: 0px;
        height: 264px;
    }
}

.btn-row {
    display: flex;
    button {
        flex: 1;
    }
    button + button {
        margin-left: 7px;
    }
}