<ion-header>
<ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAGE_TITLE.USEFUL_INFORMATION' | translate }}</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="background-white">
    <div class="hsse-sections--container contacts">
        <div class="sections-title-container">
            <div class="sections-title">{{'USEFUL_INFORMATION.CONTACTS' | translate}}</div>
        </div>
        <div class="contact-card" *ngFor="let contact of contacts">
            <div class="contact-name">{{contact.title}}</div>
        
                <div class="contact-details">{{ 'CONTACTS.PHONE' | translate }}</div>
                <div class="contact-value" (click)="dial(contact)">{{contact.phone}}</div>
                <div (click)="sendEmail(contact)">
                    <div class="contact-details">{{ 'CONTACTS.EMAIL' | translate }}</div>
                    <div class="contact-value">{{contact.email}}</div>
                </div>
               
            </div>
    </div>
    <div *ngFor="let section of list" class="hsse-sections--container">
        <div class="sections-title-container">
            <div class="sections-title">{{section.title | translate}}</div>
        </div>
        <div *ngFor="let item of section.items" class="section-item" (click)="onClick(item)">
            <aoh-icon *ngIf="item.icon" [icon]="item.icon"></aoh-icon>
            <div class="section-item--title-container">
                <div class="section-item--title">{{item.title | translate}}</div>
                <div *ngIf="item.description" class="section-item--description">{{item.description | translate}}</div>
            </div>
        </div>
    </div>
</ion-content>
      