.sections-title-container {
    display: flex;
    height: 55px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-family: Arial;
    font-size: 16px;
}
.hsse-sections--container + .hsse-sections--container {
    margin-top: 15px;
}
.sections-title{
    color: rgba(0, 0, 0, 0.54);
}
.section-item{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 55px;
    align-items: center;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);

    aoh-icon {
        margin-right: 17px;
    }

}
.section-item--title-container {
    .section-item--title{
        color: #1b70d0;
    }
    .section-item--description {
        font-family: Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
    }
}
