<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{'PAGE_TITLE.PRICES' | translate}}</ion-title>
      <ion-buttons end>
        <aoh-icon (click)="openFilter()" icon="filter"></aoh-icon>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="background-blue">
    <div class="filter-pill-container with-padding">
      <filter-pill *ngFor="let item of selectedFilter?.plants" [label]="item.title" [item]="item" (onDismiss)="removePlantFilter(item)"></filter-pill>
      <filter-pill *ngFor="let item of selectedFilter?.products" [label]="item.title" [item]="item" (onDismiss)="removeProductFilter(item)"></filter-pill>      
    </div>
    <tab-bar [value]="viewing$ | async" [options]="tabOptions" (onChange)="onTabChange($event)"></tab-bar>
    <div *ngFor="let priceGroup of historyPrices$ | async">
      <div class="price-group--title">{{priceGroup.date | aohDate}}</div>
      <price-item *ngFor="let price of priceGroup.prices" [price]="price"></price-item>
    </div>
  </ion-content>
  