<h1>{{activeMonthName}}</h1>


<h1>{{dateRows.length}}</h1>
<div class="date-header">
    <div>S</div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
    <div>S</div>
</div>

<div class="date-row" *ngFor="let dateRow of dateRows">
    <div class="date-item" *ngFor="let date of dateRow" [ngClass]="{selected: isSameDate(date)}">
        <div *ngIf="date" 
            (click)="selectDate(date)"
            >{{date.format('DD')}}</div>
    </div>
</div>


<!-- <div class="swiper-container" #slideContainer>
    <div class="swiper-wrapper">
        <div class="date-row swiper-slide" 
            *ngFor="let dateRow of virtualDateRows?.slides"
            [ngStyle]="{top: virtualDateRows?.offset + 'px'}">
            <div class="date-item" 
                *ngFor="let date of dateRow"
                [ngClass]="{selected: date.isSame(selectedDate, 'day'), inMonth: isInActiveMonth(date)}"
                (click)="selectDate(date)">{{date.format('DD')}}</div>
        </div>
    </div>
</div> -->