date-selector {
    .date-header {
        display: flex;
        & > div {
            text-align: center;
            width: 34px;
            margin: 8px;
        }
    }
    .date-row {
        display: flex;
        height: 40px;
    }
    .date-item {
        cursor: pointer;
        width: 34px;
        // height: 20px;
        border-radius: 100%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        margin: 8px;
        padding: 8px;
        &.selected {
            background: red;
            color: white!important;
        }
        color: black;
        font-style: bold;
    }

    .swiper-container {
        height: 240px;
    }
}