<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Select environment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list radio-group [(ngModel)]="selectedEnv">
      <ion-item *ngFor="let env of configService.envs">
        <ion-label>{{env}}</ion-label>
        <ion-radio [value]="env"></ion-radio>
      </ion-item>
    </ion-list>
  <button class="btn-primary" (click)="dismiss()">Save</button>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="dismiss()">{{'SET_ENVIRONMENT' | translate}}</button>
    </ion-toolbar>
</ion-footer>