badge {
    display: block;
    background-color: #e4eef7;
    border: solid 1px rgba(81, 164, 227, 0.12);
    padding: 7px 10px;
    font-family: AralV2CY-Med, Arial;;
    font-size: 16px;
    color: #1b70d0;
}