<ion-header>

</ion-header>

<ion-content>
    <confirmation-page>
        <div class="confirmation-title">{{'BASKET.CONTRACT_CREATED' | translate}}</div>
    </confirmation-page>
</ion-content>

    