<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>{{'PAGE_TITLE.LOAD_IDS' | translate}}</ion-title>
        <ion-buttons end>
            <aoh-icon icon="search" (click)="openSearch()"></aoh-icon>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  

<ion-content class="loadids" [ngClass]="{'background-blue': !(showingSearchResults$ | async)}">
    <search-details *ngIf="(showingSearchResults$ | async) && searchValues" [values]="searchValues" [fields]="loadIdsSearch.fields" (onChange)="openSearch()"></search-details>
    <div class="sections-title-container" *ngIf="(showingSearchResults$ | async) && searchValues">
        <div class="sections-title">{{ 'SEARCH.RESULTS_TITLE' | translate }} {{(loadIds$ | async)?.count}}</div>
    </div>
    <ion-list class="masonary-container" [virtualTrackBy]="identify" [virtualScroll]="(loadIds$ | async)?.items" [approxItemHeight]="'250px'">
        <div *virtualItem="let row" class="masonary-row">
            <div *ngFor="let item of row" class="loadId-item flex-1">
                    <div class="loadId-title">{{item.LOAD_ID}}</div>

                    <div class="loadId-detail">{{ 'LOAD_IDS.MATERIAL' | translate }}</div>
                    <div class="loadId-value">{{item.MATERIAL_DESCRIPTION}}</div>
            
                    <div class="loadId-detail">{{ 'LOAD_IDS.TERMINAL' | translate }}</div>
                    <div class="loadId-value">{{item.PLANT_NAME}}</div>
            
                    <div class="loadId-detail">{{ 'LOAD_IDS.DESTINATION' | translate }}</div>
                    <div class="loadId-value">{{item.DELIVERY_POINT_ADDRESS}}</div>
        
                    <div class="loadId-detail">{{ 'LOAD_IDS.CUSTOMER_HANDLING_TYPE' | translate }}</div>
                    <div class="loadId-value">{{item.SHIPPING_COND_TEXT}}</div>

                    <div class="loadId-detail">{{ 'LOAD_IDS.TERM_TYPE' | translate }}</div>
                    <div class="loadId-value">{{item.CONTRACT_TYPE_DESC}}</div>
            </div>
        </div>
    </ion-list>
</ion-content>
