.loadids {
    margin-bottom: 16px;
    .masonary-container {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px;
    }
    .loadId-item {
        // right: 0px; // Note this is for the virtual scroll
        // left: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        // margin-bottom: 0px;
        padding: 12px 18px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
        .loadId-title {
            font-family: Arial;
            font-size: 18px;
            color: #1b70d0;
            margin-bottom: 13px;
        }
        .loadId-detail {
            margin-bottom: 4px;
            font-family: Arial;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
        }
        .loadId-value {
            font-family: Arial;
            font-size: 14px;
            color: #1b70d0;
            margin-bottom: 8px;
        }
    }
}