<ion-header>

    <dismiss-page-header class="phone" pageTitle="{{'MAKE_A_CLAIM.TITLE' | translate}} - {{'MAKE_A_CLAIM.STEP' | translate}} {{activeStep + 1}} {{'MAKE_A_CLAIM.OF' | translate}} 3"></dismiss-page-header>
    <dismiss-page-header class="tablet" pageTitle="{{'MAKE_A_CLAIM.TITLE' | translate}}"></dismiss-page-header>

</ion-header>


<ion-content class="make-a-claim--container">
    <progress-stepper class="tablet" [activeStep]="activeStep" [steps]="[
        {title: 'MAKE_A_CLAIM.ADD_A_REASON'},
        {title: 'MAKE_A_CLAIM.ENTER_JUSTIFICATION'},
        {title: 'MAKE_A_CLAIM.OVERVIEW'}
    ]"></progress-stepper>
    <form [formGroup]="form" (buildForm)="buildForm($event)">
        <div *ngIf="activeStep === 0">
            <selection-list [label]="'MAKE_A_CLAIM.REASON' | translate" [options]="claimReasons" formControlName="claimReason"></selection-list>
        </div>

        <div *ngIf="activeStep === 1" class="step">
            <div class="step-title">{{'MAKE_A_CLAIM.JUSTIFICATION' | translate}}</div>
            <div class="step-content">
                <ion-textarea formFocus autoresize class="aoh-input" formControlName="justification"></ion-textarea>
            </div>
        </div>

        <div *ngIf="activeStep === 2" class="step">
            <div class="step-content review">
                <div class="field-label">{{'MAKE_A_CLAIM.REASON' | translate}}</div>
                <div class="field-value">
                    <div *ngFor="let reason of form.value.claimReason">{{reason.title | translate}}</div>
                </div>
                <div class="field-label">{{'MAKE_A_CLAIM.JUSTIFICATION' | translate}}</div>
                <div class="field-value">{{form.value.justification}}</div>
                <div class="field-label">{{'MAKE_A_CLAIM.CONTACT_INFORMATION' | translate}}</div>

                <ion-input  class="aoh-input" [placeholder]="'MAKE_A_CLAIM.PHONE' | translate" formControlName="phone"></ion-input>
                <ion-input  class="aoh-input" [placeholder]="'MAKE_A_CLAIM.EMAIL' | translate" formControlName="email"></ion-input>        
            </div>
        </div>



    </form>
</ion-content>

<ion-footer class="make-a-claim--footer">
    <ion-toolbar>
        <div class="row flex-end">
            <button class="btn-primary" *ngIf="hasPreviousStep" (click)="onPreviousStep()">{{'MAKE_A_CLAIM.BACK' | translate}}</button>
            <button class="btn-primary filled" [disabled]="!formIsValid" *ngIf="hasNextStep" (click)="onNextStep()">{{'MAKE_A_CLAIM.NEXT' | translate}}</button> 
            <button class="btn-primary filled" [disabled]="!formIsValid" *ngIf="activeStep === 2" (click)="onSubmit()">{{'MAKE_A_CLAIM.SUBMIT' | translate}}</button> 
        </div>
    </ion-toolbar>
</ion-footer>
