.make-a-claim--container {
    .step {
        .step-title {
            padding: 19px 16px;

            font-family: Arial;
            font-size: 16px;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
        .step-content {
            padding-top: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }

        .review {
            .field-label {
                font-family: Arial;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.54);
                margin-bottom: 6px;
                margin-bottom: 12px;
            }
            .field-value {
                font-family: Arial;
                font-size: 14px;
                color: #1b70d0;
                padding-bottom: 12px;
            }
        }
    }
}

.make-a-claim--footer {
    .btn-primary {
        flex: 1;
        max-width: 50%;
        margin-right: 12px;
        
    }
}