<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'PAGE_TITLE.PRODUCT_DETAILS' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-white">
    <div *ngFor="let item of list" class="section-item" (click)="onClick(item.link)">
        <aoh-icon *ngIf="item.icon" [icon]="item.icon"></aoh-icon>
        <div class="section-item--title-container">
            <div class="section-item--title">{{item.title | translate}}</div>
            <div *ngIf="item.description" class="section-item--description">{{item.description}}</div>
        </div>
    </div>
</ion-content>