<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Filter</ion-title>
    </ion-navbar>
    
</ion-header> -->
<ion-header>

    <ion-navbar>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">{{'CLOSE' | translate}}</button>
        </ion-buttons>
        <ion-title>{{'PAGE_TITLE.FILTER' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="background-white">
       
    <ion-scroll *ngIf="(recentFilters | async)?.length" scrollX="true" class="recent-filters">
        <div class="recent-filters--container">

            <recent-filter 
                *ngFor="let recentFilter of recentFilters | async"
                [filter]="recentFilter"
                (click)="handleRecentFilter(recentFilter)"></recent-filter>
        </div>
       
    </ion-scroll> 

    <div>
        <form [formGroup]="myForm" (buildForm)="buildForm($event)">
            <selection-list [label]="'AOH.TERMINALS' | translate" [options]="(filterOptions | async)?.PLANTS" formControlName="plants"></selection-list>
            <selection-list [label]="'AOH.PRODUCTS' | translate" [options]="(filterOptions | async)?.PRODUCTS" formControlName="products"></selection-list>
        </form>
    </div>
    <!-- <ion-list>
        <ion-list-header>
            Terminals
        </ion-list-header>
        <ion-item>
            <ion-label>Terminal 1</ion-label>
            <ion-checkbox checked="true" value="go"></ion-checkbox>
        </ion-item>
        
        <ion-item>
            <ion-label>Terminal 2</ion-label>
            <ion-checkbox value="rust"></ion-checkbox>
        </ion-item>
        
        <ion-item>
            <ion-label>Terminal 3</ion-label>
            <ion-checkbox value="python" disabled="true"></ion-checkbox>
        </ion-item>
    </ion-list> -->
    <!-- <ion-list>
        <ion-list-header>
            Terminals
        </ion-list-header>
        <ion-item>
            <ion-label>Terminal 1</ion-label>
            <ion-checkbox checked="true" value="go"></ion-checkbox>
        </ion-item>
        
        <ion-item>
            <ion-label>Terminal 2</ion-label>
            <ion-checkbox value="rust"></ion-checkbox>
        </ion-item>
        
        <ion-item>
            <ion-label>Terminal 3</ion-label>
            <ion-checkbox value="python" disabled="true"></ion-checkbox>
        </ion-item>
    </ion-list> -->
    <!-- <form [formGroup]="newStory" connectForm="newStory" (submit)="submit($event)" >
        <input name="title" formControlName="title"/>
        <button >SUBMIT</button>
    </form> -->




        
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="submit()">{{ 'FILTER.SUBMIT' | translate }}</button>
    </ion-toolbar>
</ion-footer>