.recent-filters {
    min-height: 130px;
    background: #deeaf5;
    .recent-filters--container {
        display: flex;
    }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
    .modal-right {
        .modal-wrapper{
            background: red!important;
            left: initial;
            right: 0px;
            top: 0px;
            bottom: 0px;
            height: initial;
        }
    }
    .modal-full {
        .modal-wrapper{
            background: red!important;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            height: initial;
            width: 100%;
        }
    }
    
}

.slide-in-right {
    
}