@import "ionic.globals";

icon-sidebar {
    left: 0px;
    transform: translateX(-210px);
    transition: linear 0.2s transform;
    bottom: 0px;
    width: 56px;
    top: 56px;
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    position: absolute;
    background: white;
    color: #757575;
    .icon-label {
        margin-left: 18px;
    }
}
.sidebar--item {
    padding: 11px 0px 13px 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &.selected, &:hover { 
        background: #e4eef7;
    }
    .sidebar--icon {
        margin-right: 18px;
    }
    .sidebar--label {
        color:  #757575;
        font-size: 14px;
    }
}


.sidebar {
    @media(min-width: 768px) {
        icon-sidebar {
            transform: translateX(0px);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        }
        .ion-page {
            .scroll-content {
                left: 56px;
            }
        }
    
        .footer {
            left: 53px;
            width: initial;
            right: 0px;
        }
    }
}
