<div class="sidebar--item" 
    *ngFor="let p of navigation$ | async" 
    (click)="openPage(p)"
    [ngClass]="{selected: p.active}">
    <aoh-icon *ngIf="!p.notification" [icon]="p.icon"></aoh-icon>
    <notification-icon *ngIf="p.notification"></notification-icon>
    <!-- <div class="icon-label">{{p.title | translate}}</div> -->
</div>


