<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'PAGE_TITLE.LIFTINGS' | translate}}</ion-title>
        <ion-buttons end>
            <aoh-icon icon="search" (click)="openSearch()"></aoh-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="background-white">
    <!-- <progress-stepper></progress-stepper>
    <search-details *ngIf="(showingSearchResults$ | async) && searchValues" [values]="searchValues" [fields]="liftingsSearch.fields" (onChange)="onChangeSearch()"></search-details>
    <div class="sections-title-container" *ngIf="(showingSearchResults$ | async) && searchValues">
        <div class="sections-title">{{ 'SEARCH.RESULTS_TITLE' | translate }}</div>
    </div>
    <div class="masonary-container padding" masonaryContainer="340">
        <lifting-card *ngFor="let lifting of liftings$ | async" [lifting]="lifting"></lifting-card>
    </div> -->
</ion-content>

    <!-- <tab-bar *ngIf="!(showingSearchResults$ | async)" [options]="tabOptions"></tab-bar> -->
