.filter-pill-container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    &.with-padding {
        padding: 0px 16px;
        padding-top: 8px;
    }
}

filter-pill {
    height: 31px;
    border-radius: 16px;
    display: flex;
    background: white;
    font-family: Arial;
    font-size: 14px;
    margin-right: 7px;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;    
    aoh-icon {
        margin-left: 10px;
    }
}