<ion-header>
    <dismiss-page-header [pageTitle]="material.MATERIAL_DESCRIPTION" [pageSubtitle]="material.PLANT_NAME"></dismiss-page-header>
</ion-header>

<ion-content>
    <details-box>
        <details-item label="AOH_DETAILS.OPEN_CONTRACTS" [value]="material.contract?.NO_OF_CONTRACTS"></details-item>
        <details-item label="AOH_DETAILS.TOTAL_VOLUME" value="{{material.contract?.TOTAL_VOLUME | aohNumber: 0}} {{material.contract?.UOM_EXT}}"></details-item>
        <details-item label="AOH_DETAILS.VOLUME_LIFTED" value="{{material.contract?.LIFTED_VOLUME | aohNumber: 0}} {{material.contract?.UOM_EXT}}"></details-item>
        <details-item label="AOH_DETAILS.OPEN_VOLUME" value="{{material.contract?.OPEN_VOLUME | aohNumber: 0}} {{material.contract?.UOM_EXT}}"></details-item>
        <details-item label="AOH_DETAILS.AGREEMENT_ENDS" [value]="material.END_DATE | aohDate"></details-item>
    </details-box>

    <!-- <div class="lifting-cards">
        <contract-card *ngFor="let contract of material.contracts" [contract]="contract"></contract-card>
    </div> -->
</ion-content>