date-selector {
    .date-header {
        display: flex;
        & > div {
            text-align: center;
            width: 34px;
            margin: 8px;
        }
    }
    .date-row {
        display: flex;
    }
    .date-item {
        cursor: pointer;
        width: 34px;
        // height: 20px;
        border-radius: 100%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        color: rgba(0,0,0,0.51);
        margin: 8px;
        padding: 8px;
        &.selected {
            background: red;
            color: white!important;
        }
        &.inMonth {
            color: black;
        }
    }

    .date-slide-wrapper {
        // height: 300px;
        overflow: hidden;
        ion-slide {
        }
    }
}