<h1>{{activeMonthName}}</h1>

<div class="date-header">
    <div>S</div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
    <div>S</div>
</div>

<div class="date-row" *ngFor="let dateRow of dateRows">
    <div class="date-item" 
        *ngFor="let date of dateRow"
        (click)="selectDate(date)"
        [ngClass]="{selected: date.isSame(selectedDate, 'day'), inMonth: isInActiveMonth(date)}">{{date.format('DD')}}</div>
</div>

<div class="date-slide-wrapper">
    <ion-slides 
        (ionSlideDidChange)="slideChanged()"
        slidesPerView="3"
        spaceBetween="20"
        direction="vertical">
        <ion-slide *ngFor="let item of dummy">
            <div class="date-row">
                <div class="date-item" >{{item}}</div>
                <div class="date-item" >{{item}}</div>
                <div class="date-item" >{{item}}</div>
                <div class="date-item" >{{item}}</div>
            </div>
        </ion-slide>
    </ion-slides>
</div>
