.btn-footer {
    display: flex;
    padding: 16px 0px;
    margin-left: -2px;
    margin-right: -2px;
    button {
        margin-right: 2px;
        margin-left: 2px;
    }
}

.btn-primary {
    position: relative;
    align-items: center;
    width: 100%;
    height: 38px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px transparent;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: AralV2CY-Med, Arial;
    font-size: 16px;
    color: #1b70d0;
    &:not(.no-icon) {
        padding-right: 32px;
    }

    &:not(.no-icon)::after {
        content: ' ';
        position: absolute;
        right: 15px;
        background:  url('../assets/imgs/arrow.svg') no-repeat;
        width: 15px;
        height: 15px;        
    }

    &.filled {
        background: linear-gradient(#1b70d0, #1b70d0), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06));
        color: white;
    }
}

.btn-secondary {
    position: relative;
    border: none 1px transparent;
    background: none;
    font-family: AralV2CY-Med, Arial;
    font-size: 14px;
    color: #ff7e00;
    padding: 0px;
}

.btn-link {
    font-family: Arial;
    font-size: 14px;
    line-height: normal;
    color: #ffffff;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
}

.btn-badge {
    margin-top: -5px;
    height: 24px;
    min-width: 24px;
    border-radius: 100%;
    background: orange;
    text-align: center;
    line-height: 24px;
    color: white;
    margin-top: 0px;
    position: absolute;
    right: 15px;
    top: 6px;
}