.row {
    display: flex;
}

.flex-end {
    justify-content: flex-end
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.full-width {
    width: 100%;
}

.masonary-row {
    display: flex;
    width: 100%;
    right: 0px;
    left: 0px;
    margin-left: -8px;
    margin-right: -8px;
    .flex-1 {
        margin-left: 8px;
        margin-right: 8px;
        width: 50%;
        // display: inline-block;
    }
}