.form-label {
    font-family: Arial;
    font-size: 14px;
    &.error {
        color: #d0141e;
    }
}

.input-lg {
    width: 100%;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #b2d1f0;
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.65;
    color: #1b70d0;
    padding-bottom: 0px;
    padding-top: 13px;
    border-radius: 0px;
    margin-bottom: 10px;

    &::placeholder {
    }
}