<div class="home-tile" (click)="navService.followLink(tile.link)">
    <div class="home-tile--icon">
        <aoh-icon *ngIf="!tile.notification" icon="{{tile.icon}} home-tile"></aoh-icon>
        <notification-icon *ngIf="tile.notification" size="lg"></notification-icon>
    </div>
    <div class="home-tile--title">{{ tile.title | translate }}</div>
    <aoh-icon icon="arrow"></aoh-icon>
</div>