.home-tile-row {
    margin: -4px;
    // display: flex;
    // flex-wrap: wrap;
    margin: 0 auto;
    // width: 336px;
}

home-tile {
    cursor: pointer;
    background-color: #cee4f7;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
    width: 160px;
    height: 160px;
    display: inline-block;
    position: relative;
    margin: 4px;
    @media(min-width: 768px) {
        margin: 32px;
    }
    
    .home-tile--title {
        position: absolute;
        bottom: 10px;
        left: 19px;
        font-family: Arial;
        font-size: 14px;
        color: #1b70d0;
        // text-transform: uppercase;
    }

    .home-tile--icon {
        // 160/2 - 32 = 48
        position: absolute;
        top: 48px;
        left: 48px;
    }

    aoh-icon[icon="arrow"] {
        position: absolute;
        bottom: 9px;
        right: 18px;
    }
}