<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'APP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-blue">

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <div class="home-tile-row" homeContainerResize="168">
      <home-tile *ngFor="let tile of tiles$ | async" [tile]="tile"></home-tile>
  </div>
  
</ion-content>
