<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'PAGE_TITLE.HSSE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-white">
    <div *ngFor="let section of list" class="hsse-sections--container">
        <div class="sections-title-container">
            <div class="sections-title">{{section.title | translate}}</div>
        </div>
        <div *ngFor="let item of section.items" class="section-item" (click)="onClick(item)">
            <aoh-icon icon="pdf"></aoh-icon>
            <div class="section-item--title-container">
                <div class="section-item--title">{{item.title | translate}}</div>
            </div>
        </div>
    </div>
</ion-content>
          