lifting-bar {
    .flex-1 {
        border-radius: 2px;
        border: 1px solid #ccc;
        width: 100%;
        height: 7px;
        display: block;
        .bar {
            height: 7px;
            background-color: #ff7e00;
            &.tooLarge {
                background-color: #d0141e;
            }
        }

    }
    .percentage {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.57;
        color: #1b70d0;
        min-width: 60px;
        margin-left: 10px;
        text-align: right;
        &.tooLarge {
            color: #d0141e;
        }
    }

    margin-top: 12px;
}