<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PAGE_TITLE.AOH' | translate}}</ion-title>
    <ion-buttons end>
      <aoh-icon (click)="openFilter()" icon="filter"></aoh-icon>
      <basket-icon></basket-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<loading-indicator [show]="loadingService.isLoading | async"></loading-indicator>


<ion-content padding class="background-blue">
  <div class="filter-pill-container">
    <filter-pill *ngFor="let item of selectedFilter?.plants" [label]="item.title" [item]="item" (onDismiss)="removePlantFilter(item)"></filter-pill>
    <filter-pill *ngFor="let item of selectedFilter?.products" [label]="item.title" [item]="item" (onDismiss)="removeProductFilter(item)"></filter-pill>      
  </div>
  <div class="masonary-container">
    <div *ngFor="let row of ((materials$ | async)?.items)" class="masonary-row">
      <div *ngFor="let material of row" class="flex-1">
        <aoh-item [material]="material"></aoh-item>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>
    <pricing-count-down (onSizeChange)="onFooterUpdate()" (onCountdownComplete)="onCountdownComplete()"></pricing-count-down>    
</ion-footer>
