.masonary-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 16px;
    &.padding {
        margin-left: 16px;
        margin-right: 16px;
    }
    &.columns-1 {
        grid-template-columns: auto;
    }
    &.columns-2 {
        grid-template-columns: auto auto;
    }
    &.columns-3 {
        grid-template-columns: auto auto auto;
    }
    &.columns-4 {
        grid-template-columns: auto auto auto auto;
    }
    .masonary-item {
        break-inside: avoid-column;
    }
}