$offset: 187;
$duration: 1.4s;

.loading-indicator {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
    bottom: -200px;
    background: #edf4f9;
    z-index: 1000;
    display: flex;
    padding-top: 46px;
    flex-direction: column;
    align-items: center;
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    svg {
        margin-top: 125px;
    }
    div {
        margin-top: 25px;
        font-family: Arial;
        font-size: 18px;
        line-height: 1.72;
        color: #88b9ea;

    }



    .spinner {
    animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
    }

    .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #88b9ea;
    animation:
        dash $duration ease-in-out infinite, 
    }

    @keyframes colors {
        0% { stroke: #4285F4; }
        25% { stroke: #DE3E35; }
        50% { stroke: #F7C223; }
        75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
    }

    @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
    }
    100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
    }
    }
}