details-item {
    display: flex;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.57;


    .details-label {
        flex: 1;
        color: #757575;

        &.emphasis {
            color: #1b70d0
        }
    }
    .details-value {
        color: #1b70d0;
    }
}