basket-item {
    display: block;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
    padding: 10px 20px;
    margin-bottom: 20px;
    .item-title {
        font-family: Arial;
        font-size: 18px;
        color: #1b70d0;
        margin-bottom: 13px;
    }
    .item-detail {
        margin-bottom: 12px;
        .item-detail--title {
            font-family: Arial;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 6px;
        }
        .item-detail--value {
            font-family: Arial;
            font-size: 14px;
            color: #1b70d0;
        }
    }

    .item-box {
        background: #e4eef7;
        display: flex;
        margin-bottom: 3px;
        padding: 12px 13px;

        .item-column {
            flex: 1;
        }
        .item-column--title {
            font-family: Arial;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 3px;
        }

        .item-value--container {
            display: flex;
            align-items: baseline;
            .item-value--amount {
                font-family: Arial;
                font-size: 28px;
                font-weight: bold;
                color: #1b70d0;
            }
            .item-value--unit {
                font-family: Arial;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.54);
                margin-left: 4px;
            }
        }
        
    }

    .btn-row {
        margin-top: 13px;
        margin-bottom: 13px;
    }
}