<div>
    <div class="item-title">{{ item.material.MATERIAL_DESCRIPTION }}</div>

    <div class="item-detail">
        <div class="item-detail--title">{{ 'BASKET_ITEM.LOCATION' | translate }}</div>
        <div class="item-detail--value">{{item.material.PLANT_SHORT_ADDRESS}}</div>
    </div>
    <div class="item-detail">
        <div class="item-detail--title">{{ 'BASKET_ITEM.VALIDITY' | translate }}</div>
        <div class="item-detail--value">{{item.material.START_DATE | aohDate}} - {{item.material.END_DATE | aohDate}} ({{item.material.START_DATE | dayDiff: item.material.END_DATE}})</div>
    </div>
    <div class="item-box">
        <div class="item-column">
            <div class="item-column--title">{{ 'BASKET_ITEM.VOLUME' | translate }}</div>
            <div class="item-value--container">
                <span class="item-value--amount">{{item.quantity | aohNumber}}</span>
                <span class="item-value--unit">{{item.material.UOM_EXT}}</span>
            </div>
        </div>
        <div class="item-column">
            <div class="item-column--title">{{ 'BASKET_ITEM.PRICE' | translate }}</div>
            <div class="item-value--container">
                <span class="item-value--amount">{{item.material.CUSTOMER_PRICE | aohNumber: 2}}</span>
                <span class="item-value--unit">{{item.material.CURRENCY}}/{{item.material.CUSTOMER_CONDITION_UNIT_EXT}}</span>
            </div>
        </div>
    </div>
     <div class="item-box">
        <div class="item-column">
            <div class="item-column--title">{{ 'BASKET_ITEM.SUBTOTAL' | translate }}</div>
            <div class="item-value--container">
                <span class="item-value--amount">{{item.subTotal | aohNumber: 2}}</span>
                <span class="item-value--unit">{{item.material.CURRENCY}}</span>
            </div>
        </div>
    </div>
    <div class="btn-row">
        <button class="btn-primary" (click)="removeItem(item)">{{ 'BASKET_ITEM.REMOVE' | translate }}</button>
        <button class="btn-primary filled" (click)="openUpdateItem(item)">{{ 'BASKET_ITEM.UPDATE' | translate }}</button>
    </div>
    
</div>
