<div [ngClass]="{sidebar: (showSidebar$ | async)}" device>
<ion-menu [content]="content">
  <ion-header>
    <div class="sidebar--header">
      <div class="sidebar--title">{{ (user|async)?.fullName }}</div>
      <div class="sidebar--subtitle hidden">Zherer & Petersen GMBH</div>
    </div>
  </ion-header>

  <ion-content class="sidebar--content">
    <div *ngFor="let p of navigation$ | async">
      <div class="sidebar--item"  (click)="openPage(p)" [ngClass]="{selected: p.active}">
        <aoh-icon class="sidebar--icon" *ngIf="!p.notification" [icon]="p.icon"></aoh-icon>
        <notification-icon class="sidebar--icon" *ngIf="p.notification"></notification-icon>
        <div class="sidebar--label">{{p.title | translate}}</div>
      </div>
      <hr *ngIf="p.divider">
    </div>

    <div class="sidebar--item" (click)="logout()">
      <aoh-icon icon="logout"></aoh-icon>
      <div class="sidebar--label">{{'LOGOUT' | translate}}</div>
    </div>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<icon-sidebar></icon-sidebar>
</div>