// http://ionicframework.com/docs/theming/

@import '../styles/grid.scss';
@import '../styles/buttons.scss';
@import '../styles/inputs.scss';

.sidebar--header {
    background-color: #51a4e3;
    padding: 22px 18px;
    .sidebar--subtitle {
        font-family: Arial;
        font-size: 14px;
        color: #ffffff;
      
      }
      .sidebar--title {
        font-family: Arial;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 11px;
        line-height: 1.25;
      }
}

.sidebar--content {
    background: white;
    hr {
        margin: 0px;
        margin-top: 1px;
        background-color: rgba(0, 0, 0, 0.12);
    }
}


.toolbar-background {
    background: linear-gradient(102deg, #51a4e3, #1b70d0 38%, #0a1969)!important;
}
.footer {
    .toolbar-background {
        background: #e9f1f8!important;
    }
    .toolbar-content {
        margin: 16px;
    }
}

.content {
    &.background-white {
        background-color: white;
    }
    &.background-blue {
        background-color: #e4eef7;
    }
}

ion-list-header {
    font-family: Arial;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    margin: 0!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
}

ion-list {
    margin-bottom: 0px!important;
}

ion-item {
    padding: 7px 13px!important;
    &+& {
        border-top: 1px solid rgba(0, 0, 0, 0.12)!important;
    }
    
    .item-inner {
        border-bottom: none!important;
        font-family: Arial;
        font-size: 16px;
        color: #1b70d0;
    }
    ion-checkbox {
        margin-right: 13px!important;
    }

}

.hidden {
    display: none;
}

.alert-wrapper {
    max-width: 360px!important;
}

.stop-pointer {
    pointer-events: none;
}

@media(min-width: 767px) {
    .phone {
        display: none;
    }
}
@media(max-width: 767px) {
    .tablet {
        display: none;
    }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
