confirmation-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    aoh-icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .tick {
        position: relative;
        width: 80px;
        height: 60px;
        &::before {
            position: absolute;
            width: 3px;
            bottom: -3px;
            height: 32px;
            left: 12px;
            background:#1b70d0;
            content: ' ';
            transform: rotate(315deg)
        }
        &::after {
            position: absolute;
            width: 3px;
            height: 72px;
            right: 30px;
            top: -3px;
            background: #1b70d0;
            content: ' ';
            transform: rotate(45deg)
        }
    }
    .confirmation-title {
        margin-top: 18px;
        margin-bottom: 14px;
        max-width: 380px;
        font-family: Arial;
        font-size: 24px;
        text-align: center;
        color: #1b70d0;
    }
    .confirmation-subtitle {
        max-width: 380px;
        font-family: Arial;
        font-size: 14px;
        text-align: center;
        color: #1b70d0;
        padding-bottom: 16px;
    }
    button {
        margin-bottom: 16px;
        display: block;
    }
}