<ion-header>
<ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAGE_TITLE.USER' | translate }}</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="background-white">
    <form [formGroup]="form">
    <div class="hsse-sections--container">
        <div class="sections-title-container">
            <div class="sections-title">{{ 'USER.LANGUAGE' | translate }}</div>
        </div>
        <ion-list radio-group formControlName="language">
            <ion-item *ngFor="let lang of languages">
                <ion-label>{{lang.title}}</ion-label>
                <ion-radio [value]="lang.code"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
    <div class="hsse-sections--container">
        <div class="sections-title-container">
            <div class="sections-title">{{ 'USER.CONTACT_INFORMATION' | translate }}</div>
        </div>
        <div class="section-item">
            <div class="section-item--title-container">
                <ion-input  class="aoh-input" [placeholder]="'MAKE_A_CLAIM.PHONE' | translate" formControlName="phone"></ion-input>
            </div>
        </div>
        <div class="section-item">
            <div class="section-item--title-container">
                <ion-input  class="aoh-input" [placeholder]="'MAKE_A_CLAIM.EMAIL' | translate" formControlName="email"></ion-input>        
            </div>
        </div>
    </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="onSet()">{{'USER.SET' | translate}}</button>
    </ion-toolbar>
</ion-footer>