<ion-header>

    <ion-navbar>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
        </ion-buttons>
        <ion-title>Update item</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>{{item.price}} {{item.id}}</h1>
    <button class="btn-primary" (click)="dismiss()">Save</button>

</ion-content>