<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'PAGE_TITLE.PRODUCT_CATALOGUE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-white">
    <ion-list>
        <ion-item *ngFor="let product of products" (click)="openProduct(product)">
            <ion-label>{{product.title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
      