.notifications-page {
    .notification-item {
        padding: 14px 16px;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: white;
        &.read {
            background: #c5def6;
        }
        .notification-title {
            font-family: Arial;
            font-size: 16px;
            line-height: 1.31;
            letter-spacing: normal;
            color: #1b70d0;
        }
        .notification-subtitle {
            font-family: Arial;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
