<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PAGE_TITLE.NOTIFICATIONS' | translate}}</ion-title>
    <ion-buttons end>
      <aoh-icon (click)="openSettings()" icon="settings"></aoh-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="notifications-page background-blue">
  <div *ngFor="let item of items$ | async"
    
    [ngClass]="{read: item.read}"
    class="notification-item row">
    <div class="flex-1" (click)="itemTapped($event, item)">
        <div class="notification-title">{{item.title | translate}}</div>
        <div class="notification-subtitle">{{item.createdAt | aohDate}}</div>
    </div>
    <div (click)="dismiss($event, item)">
      <aoh-icon icon="close"></aoh-icon>
    </div>
  </div>
</ion-content>
