<div (window:resize)="onResize($event)">
<div class="pricing-countdown-container phone" (click)="toggleOpen()">
    <div>
        <span class="title">{{'COUNT_DOWN.PRICES_VALID' | translate}} {{'COUNT_DOWN.UNTIL' | translate}}</span>
        <span>{{periodEndTime | timeFromDate}} ({{timeRemaining | countdown}})</span>
    </div>
    <div *ngIf="isOpen">
        <span class="title">{{'COUNT_DOWN.OUTSTANDING_BALANCE' | translate}}</span>
        <span>{{(creditPosition$ | async)?.EV_CREDIT_BALANCE | aohNumber: 2}} {{(creditPosition$ | async)?.EV_CURRENCY}}</span>
    </div>
    <div *ngIf="isOpen">
        <span class="title">{{'COUNT_DOWN.CREDIT_LIMIT' | translate}}</span>
        <span>{{(creditPosition$ | async)?.EV_CREDIT_LIMIT | aohNumber: 2}} {{(creditPosition$ | async)?.EV_CURRENCY}}</span>
    </div>
</div>

<div class="pricing-countdown-container tablet">
    <div class="row">
        <div class="flex-1">
            <span class="title">{{'COUNT_DOWN.PRICES_VALID' | translate}} {{'COUNT_DOWN.UNTIL' | translate}}</span>
            <span>{{periodEndTime | timeFromDate}}</span>
            <div class="time-remaining">{{timeRemaining | countdown}} {{ 'COUNT_DOWN.LEFT' | translate }}</div>
        </div>
        <div class="right-side">
            <div class="row align-center">
                <div class="title flex-1">{{'COUNT_DOWN.OUTSTANDING_BALANCE' | translate}}</div>
                <div>{{(creditPosition$ | async)?.EV_CREDIT_BALANCE | aohNumber: 2}} {{(creditPosition$ | async)?.EV_CURRENCY}}</div>
            </div>
            <div class="row align-center">
                <div class="title flex-1">{{'COUNT_DOWN.CREDIT_LIMIT' | translate}}</div>
                <div>{{(creditPosition$ | async)?.EV_CREDIT_LIMIT | aohNumber: 2}} {{(creditPosition$ | async)?.EV_CURRENCY}}</div>
            </div>
        </div>
    </div>

</div>
</div>
