.pricing-countdown-container {
    background: linear-gradient(106deg, #2d81d0, #144aa3);
    padding: 12px 17px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.93;
    color: #ffffff;
    .title {
        font-size: 18px;
    }

    &.tablet {
        padding-right: 73px;
        .time-remaining {
            font-family: Arial;
            font-size: 28px;
            line-height: 0.96;
            letter-spacing: -0.2px;
            color: #ffffff;
        }
        .right-side {
            width: 300px;
        }
    }
}