aoh-item {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
  display: block;
  padding: 5px 20px 22px 20px;
  margin-bottom: 17px;
  .aoh-item--title {
    height: 31px;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.72;
    color: #1b70d0;
    margin-bottom: 1px;
  }

  .aoh-item--location {
    display: flex;
    align-items: center;
    aoh-icon {
      margin-right: 6px;
      
    }
    .aoh-item--location-label {
      font-family: Arial;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .aoh-item--price-row {
    display: flex;
    width: 100%;
    margin-top: 25px;
    .price {
      font-family: Arial;
      font-size: 48px;
      font-weight: bold;
      line-height: 0.65;
      letter-spacing: normal;
      color: #1b70d0;
      flex: 1;
    }
    .price-specifics {
      font-family: Arial;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.54);
      text-align: right;
    }
  }
  .price-unit {
    margin-top: 1px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
  }
  .add-to-basket {
    margin-top: 9px;
  }

  .view-contracts {
    margin-top: 16px;
  }

  .added-to-basket {
    color: white;
    padding: 6px 8px;
    font-family: AralV2CY-Med, Arial;
    font-size: 16px;
    border-radius: 2px;
    background: #a1a1a2;
    display: inline-block;
  }

  details-box {
    margin-left: 0px;
    margin-right: 0px;
  }

  .no-contract-placeholder {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    color: #88b9ea;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    border-radius: 2px;
    background-color: #e4eef7;
    border: solid 1px rgba(81, 164, 227, 0.12);
    margin-bottom: 16px;
    margin-top: 16px;
  }
}