<div class="aoh-item--container">

    <div class="aoh-item--title">{{ material.MATERIAL_DESCRIPTION }}</div>
    <div class="aoh-item--location">
        <aoh-icon icon="location"></aoh-icon>
        <div class="aoh-item--location-label">{{ material.PLANT_NAME }}</div>
    </div>

    <div class="aoh-item--price-row">
        <div class="price">
            {{ material.CUSTOMER_PRICE | aohNumber: 2 }}
        </div>
        <div>
            <div class="price-specifics">{{ 'AOH.MAX' | translate }} {{material.MAX_QUANTITY | aohNumber: 0}} {{material.UOM}}</div>
            <div class="price-specifics">{{ 'AOH.DAYS_TO_COLLECT' | translate: {daysToCollect: material.END_DATE | daysToCollect} }}</div>
        </div>
    </div>

    <div class="price-unit"> {{material.CURRENCY}} {{'AOH.PER' | translate}} {{material.CUSTOMER_PRICE_UNIT}}/{{material.CUSTOMER_CONDITION_UNIT_EXT}}</div>

    <details-box class="tablet">
        <details-item label="AOH_DETAILS.OPEN_CONTRACTS" [value]="material.contract?.NO_OF_CONTRACTS || '-'"></details-item>
        <details-item label="AOH_DETAILS.OPEN_VOLUME" [value]="(material.contract?.OPEN_VOLUME | aohNumber: 0) || '-'"></details-item>
    </details-box>

    <div class="add-to-basket">
        <button class="btn-primary filled" (click)="openAddItem(material)" *ngIf="!material.inBasket">{{'AOH.ADD_TO_BASKET' | translate}}</button>
        <div *ngIf="material.inBasket" class="added-to-basket">{{ 'AOH.ADDED_TO_BASKET'| translate}}</div>
    </div>
    <button [disabled]="!material.contract?.NO_OF_CONTRACTS" class="btn-primary view-contracts no-icon" (click)="viewOpenContracts()">
        <span>{{ 'AOH.VIEW_OPEN_CONTRACTS' | translate}}</span>
        <span class="btn-badge" *ngIf="material.contract?.NO_OF_CONTRACTS">{{material.contract?.NO_OF_CONTRACTS}}</span> 
    </button>

    
</div>