
<ion-header>

    <ion-navbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">{{ 'CLOSE' | translate }}</button>
      </ion-buttons>
      <ion-title>{{ 'PAGE_TITLE.SEARCH' | translate }}</ion-title>
    </ion-navbar>
  
  </ion-header>
  

<ion-content class="background-white" padding>
    <form [formGroup]="form">

        <div *ngFor="let field of fields" [ngSwitch]="field.type">
            
            <div *ngSwitchCase="'text'">
                <ion-input  class="aoh-input" [placeholder]="field.label" [formControlName]="field.name"></ion-input>
            </div>
            <div *ngSwitchCase="'select'">
                <filter-select [formControlName]="field.name" [field]="field"></filter-select>
            </div>
            <div *ngSwitchCase="'select-date'">
                <filter-select [formControlName]="field.name" [field]="field"></filter-select>
            </div>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="performSearch()">{{ 'SEARCH.SUBMIT' | translate }}</button>
    </ion-toolbar>
</ion-footer>