ion-select {
    .select-md {
        padding: 0px;
    }
    .select-placeholder {

    }
    max-width: 100%;
    padding: 0px;
}

.aoh-input{
    background: red;
    width: 100%;

    &[type="text"] {
        height: 39px;
    }
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #b2d1f0;
    font-family: Arial;
    font-size: 14px;
    color: #1b70d0;
    margin-bottom: 16px;

    input::placeholder {
        color:  #cee4f7;
    }
}