basket-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;

    .count {
        background: orange;
        position: absolute;
        top: -8px;
        font-size: 12px;
        right: -2px;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        text-align: center;
        margin-top: 4px;
        color: white;
    }
}