<div class="price-item--container">

    <div class="price-item--title">{{ price.MATERIAL_DESCRIPTION }} {{price.MATERIAL_ID}}</div>
    <div class="price-item--location">
        <aoh-icon icon="location"></aoh-icon>
        <div class="price-item--location-label">{{ price.PLANT_NAME }}</div>
    </div>
    <div class="price">
        {{ price.PRICE }}
    </div>
    <div class="price-unit">{{price.CURRENCY}} {{'AOH.PER' | translate}} {{price.PRICING_UNIT}}/{{price.UOM_EXT}}</div>

    <div class="price-created-at">{{ price.CREATION_DATE | aohDate }} {{ price.CREATION_TIME | aohTime }}</div>    
</div>
