price-item {
    margin: 16px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
    display: block;
    padding: 5px 20px 22px 20px;
    margin-bottom: 17px;
    .price-item--title {
        font-family: Arial;
        font-size: 18px;
        line-height: 1.72;
        letter-spacing: -0.2px;
        color: #1b70d0;
    }
    .price-item--location {
        display: flex;
        align-items: center;
        aoh-icon {
            margin-right: 6px;
            
        }
        .price-item--location-label {
            font-family: Arial;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
        }
    }

    .price {
        font-family: Arial;
        font-size: 48px;
        font-weight: bold;
        color: #1b70d0;
    }
    .price-unit {
        margin-top: 1px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.54);
      }

    .price-created-at {
        font-family: Arial;
        font-size: 14px;
        text-align: right;
        color: rgba(0, 0, 0, 0.54);
        width: 100%;
    }
}