<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="notification-details">
    <div class="notification-title">{{(details$ | async)?.title}}</div>
    <div class="notification-date">{{(details$ | async)?.createdAt | aohDate}}</div>
    <div class="notification-content" [innerHTML]="(details$ | async)?.content"></div>
  </ion-content>
  