.notification-details {
    .notification-title {
        font-family: Arial;
        font-size: 28px;
        color: #1b70d0;
        margin-bottom: 8px;
    }
    .notification-date {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.57;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 16px
    }
    .notification-content {
        white-space: pre-line;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.57;
        color: rgba(0, 0, 0, 0.54);
        .blue {
            color: #1b70d0;
        }
    }
}