<ion-header>
    <dismiss-page-header [pageTitle]="labels.title | translate"></dismiss-page-header>
</ion-header>


<ion-content padding>
    <form [formGroup]="materialForm" *ngIf="materialForm">
        <div class="form-label" [ngClass]="{error: materialForm?.invalid}">{{'BASKET.ENTER_VOLUME' | translate}}</div>
        <input class="input-lg" type="number" formControlName="quantity" formFocus/>
        
        <div>
            <error-message 
                [error]="materialForm?.controls.quantity.errors?.tooSmall"
                message="{{'BASKET.MIN' | translate}} {{material.MIN_QUANTITY  | aohNumber: 0}} {{ material.UOM_EXT }}"></error-message>
            <error-message
                [error]="materialForm?.controls.quantity.errors?.tooLarge"
                message="{{'BASKET.MAX'|translate}} {{material.MAX_QUANTITY  | aohNumber: 0}} {{ material.UOM_EXT }}"></error-message>
            <error-message
                [error]="materialForm?.controls.quantity.errors?.rounding"
                message="{{'BASKET.MULTIPLE_OF' | translate}} {{ material.ROUNDING_QUANTITY | aohNumber: 0 }}"></error-message>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary" (click)="addItem()" [disabled]="materialForm.invalid">{{labels.confirm | translate}}</button>
    </ion-toolbar>
</ion-footer>