<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'PAGE_TITLE.NOTIFICATION_SETTINGS' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let section of config">
        <ion-list-header>
            <div class="large-header">{{section.title | translate}}</div>
            <div>{{section.description | translate}}</div>
        </ion-list-header>
        <ion-item *ngFor="let field of section.fields">
            <ion-label>
                <div>{{field.title | translate}}</div>
                <div class="settings-subtitle">{{field.description | translate}}</div>
            </ion-label>
            <ion-checkbox [(ngModel)]="field.checked" (click)="toggleItem($event, field)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>