.settings-subtitle {
  font-family: Arial;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
ion-list-header {
    .large-header {
        font-size: 18px;
    }
}

ion-list + ion-list {
    ion-list-header {
        padding-top: 24px!important;
    }
}
ion-label {
    white-space: initial;
}