lifting-card {
    display: block;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
    padding: 8px 20px;
    margin: 8px 0px;
    .lifting-header {
        font-family: Arial;
        font-size: 18px;
        color: #1b70d0;
        margin-bottom: 2px;
    }
    .lifting-location {
        font-family: Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        align-items: center;
        aoh-icon {
            margin-right: 4px;
        }
    }

    .lifting-details {
        margin-top: 10px;
    }

    .invoice-container {
        margin-top: 25px;
        border-radius: 2px;
        background-color: #f6f6f6;
        border: solid 1px rgba(151, 151, 151, 0.13);
        padding: 6px 12px;
        align-items: center;


        &.no-invoice {
            display: flex;
            align-items: center;
            justify-content: left;
            font-family: Arial;
            color: #88b9ea;
            background-color: #e4eef7;
            font-size: 16px;
            height: 39px;
        }

        .invoice-number {
            font-family: Arial;
            font-size: 14px;
            color: #1b70d0;
            margin-left: 8px;
        }
        .view-invoice {
            font-family: Arial;
            font-size: 14px;
            color: #ff7e00;
        }
    }
}