<div class="lifting-header">{{ lifting.MATERIAL_DESCRIPTION }}</div>
<div class="lifting-location">
    <aoh-icon icon="location"></aoh-icon>
    <span>{{lifting.DELIVERY_POINT_NAME}}</span>
</div>
<div class="lifting-details">
    <details-item label="LIFTING_ITEM.DATE" value="{{lifting.LIFTING_DATE | aohDate}}"></details-item>
    <details-item label="LIFTING_ITEM.VOLUME" value="{{lifting.LIFTED_QUANTITY | aohNumber}} {{lifting.UOM}}"></details-item>
    <!-- <details-item label="LIFTING_ITEM.CONTRACT_NUMBER" value="{{lifting.CONTRACT_NUMBER }}"></details-item> -->
</div>
<div class="invoice-container row" *ngIf="lifting.INVOICE_NO" (click)="openInvoice()">
    <aoh-icon icon="pdf"></aoh-icon>
    <div class="flex-1 invoice-number">{{lifting.INVOICE_NO}}</div>
    <div class="view-invoice">{{ 'LIFTING_ITEM.VIEW_INVOICE' | translate }}</div>
</div>
<div class="invoice-container row no-invoice" *ngIf="!lifting.INVOICE_NO" (click)="openInvoice()">
    {{'LIFTINGS.NO_INVOICE' | translate}}
</div>

<div class="btn-footer">
    <button class="btn-primary filled" [disabled]="!lifting.INVOICE_NO" (click)="openMakeAClaim()">{{ 'LIFTINGS.MAKE_A_CLAIM' | translate }}</button>
</div>
