<ion-header>
    <dismiss-page-header pageTitle="PAGE_TITLE.CONTRACT_DETAILS" [pageSubtitle]="contract?.details.CONTRACT_NUMBER"></dismiss-page-header>
</ion-header>

<ion-content>
    <details-box *ngIf="contract?.details.CONTRACT_NUMBER">
        <details-item label="CONTRACTS.CREATED_AT" value="{{contract?.details.DATE_STARTED | aohDate}}"></details-item>
        <details-item label="CONTRACTS.PRICE_AGREED" value="{{contract?.details.ITEM_TOTAL_VALUE | aohNumber: 2}} {{contract?.details.CURRENCY}}"></details-item>
        <details-item label="CONTRACTS.VALIDITY" value="{{contract?.details.DATE_STARTED | aohDate}} - {{contract?.details.DATE_ENDED | aohDate}}"></details-item>
        <details-item label="CONTRACTS.CONTRACT_VOLUME" value="{{contract?.details.TARGET_QUANTITY | aohNumber: 0}} L15"></details-item>
        <details-item label="CONTRACTS.OPEN_VOLUME" value="{{contract?.details.OPEN_QUANTITY | aohNumber: 0}} L15"></details-item>
        <details-item label="CONTRACTS.LIFTINGS_MADE" [value]="contract?.liftings ? (contract?.liftings?.length | aohNumber: 0) : 0"></details-item>
    </details-box>

    <div class="lifting-cards">
        <lifting-card *ngFor="let lifting of contract?.liftings" [lifting]="lifting"></lifting-card>
    </div>

</ion-content>