<ion-header>

</ion-header>

<ion-content>
    <confirmation-page>
        <!--
        <div class="confirmation-title">{{'MAKE_A_CLAIM.CONFIRMATION' | translate}}</div>
        <div class="confirmation-subtitle">{{'MAKE_A_CLAIM.CONFIRMATION_NUMBER' | translate}} 12345678</div>
        -->
        <div class="confirmation-title">{{'MAKE_A_CLAIM.CONFIRMATION_MESSAGE' | translate: {confirmationNumber: '12345678'} }}</div>
        <div>
            <button class="btn-primary filled" (click)="dismiss()">{{'MAKE_A_CLAIM.VIEW_MY_LIFTINGS' | translate}}</button>
        </div>
    </confirmation-page>
</ion-content>

