<ion-list *ngIf="options">
    <ion-list-header *ngIf="label">
        {{ label }}
    </ion-list-header>
    <ion-item *ngFor="let option of options" >
        <ion-label>{{option.title | translate}}</ion-label>
        <ion-checkbox [checked]="isChecked(option)" (ionChange)="onCheck($event, option)"></ion-checkbox>
    </ion-item>
</ion-list>