<ion-header>

</ion-header>

<ion-content>
    <confirmation-page>
        <div class="confirmation-title">{{'CONTRACT.DETAILS_SENT' | translate}}</div>
        <div class="confirmation-subtitle">{{email}}</div>
    </confirmation-page>
</ion-content>

