<ion-header>

        <dismiss-page-header pageTitle="CONTRACT.SHARE_CONTRACT_DETAILS"></dismiss-page-header>

</ion-header>


<ion-content>
    <form [formGroup]="form">
        <div class="share-container">
            <ion-input  class="aoh-input" placeholder="Email" formControlName="email"></ion-input>
            <div class="select-to-share">{{'CONTRACT.SELECT_TO_SHARE' | i18nPlural: contracts.length | translate}}</div> 
        </div>
        <selection-list [ngClass]="{'stop-pointer': contracts.length <=1}" label="" [options]="contracts" formControlName="contracts"></selection-list>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="share()" [disabled]="form.invalid">{{'SHARE' | translate}}</button>
    </ion-toolbar>
</ion-footer>