share {
    .share-container {
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .select-to-share {
        font-family: Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
    }
}