<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'CUSTOM_DATE_RANGE_TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="selection">
        <ion-list>
            <ion-item>
                <ion-label>{{'FROM_DATE' | translate}}</ion-label>
                <ion-datetime #startDate
                    [pickerOptions]="pickerOptions"
                    [dayNames]="dayNames"
                    [dayShortNames]="dayShortNames"
                    [monthNames]="monthNames"
                    [monthShortNames]="monthShortNames"
                    doneText="{{ 'DATETIME_DONE' | translate }}"
                    cancelText="{{ 'DATETIME_CANCEL' | translate }}"
                    displayFormat="DDDD, D. MMMM YYYY"
                    min="2005"
                    max="2019"
                    formControlName="startDate"
                    ></ion-datetime>
                
            </ion-item>
            <ion-item>
                <ion-datetime #startDate
                    [pickerOptions]="pickerOptions"
                    [dayNames]="dayNames"
                    [dayShortNames]="dayShortNames"
                    [monthNames]="monthNames"
                    [monthShortNames]="monthShortNames"
                    doneText="{{ 'DATETIME_DONE' | translate }}"
                    cancelText="{{ 'DATETIME_CANCEL' | translate }}"
                    displayFormat="DDDD, D. MMMM YYYY"
                    min="2005"
                    max="2019"
                    formControlName="endDate"
                    ></ion-datetime>

                <ion-label>{{'TO_DATE' | translate}}</ion-label>
                <!-- <ion-datetime [pickerOptions]="customOptions" displayFormat="DDDD MMM D, YYYY" min="2005" max="2019" [(ngModel)]="selection.endDate"></ion-datetime> -->
            </ion-item>
        </ion-list>
    </form>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn-primary filled" (click)="submit()">{{'SET_DATE_RANGE' | translate}}</button>
    </ion-toolbar>
</ion-footer>
