.contacts {
    .contact-card {
        margin: 16px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 0 5px 0 rgba(124, 83, 83, 0.29);
        padding: 8px 14px;
        .contact-name {
            font-family: Arial;
            font-size: 18px;
            color: #1b70d0;
            margin-bottom: 7px;
            margin-top: 4px;
        }
        .contact-details {
            font-family: Arial;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 4px;
        }

        .contact-value {
            font-family: Arial;
            font-size: 14px;
            color: #1b70d0;
            margin-bottom: 4px;
        }
    }
}