<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ titleKey | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-blue contacts">
    <div class="contact-card" *ngFor="let contact of contacts">
        <div class="contact-name">{{contact.title}}</div>

        <div class="contact-details">{{ 'CONTACTS.PHONE' | translate }}</div>
        <div class="contact-value" (onClick)="dial(contact)">{{contact.phone}}</div>

        <div class="contact-details">{{ 'CONTACTS.EMAIL' | translate }}</div>
        <div class="contact-value">{{contact.email}}</div>
    </div>
</ion-content>
      