.notification-icon {
    position: relative;
    .count {
        text-align: center;
        background: orange;
        position: absolute;
        font-size: 12px;
        right: -2px;
        top: -3px;
        min-width: 14px;
        height: 14px;
        border-radius: 7px;
        line-height: 14px;
        color: white;
        padding: 0px 4px;
    }

    &.lg {
        .count {
            min-width: 30px;
            height: 30px;
            border-radius: 15px;
            font-size: 22px;
            top: -5px;
            line-height: 30px;
        }
    }
}