progress-stepper {
    display: flex;
    width: 100%;
    align-content: center;
    padding: 16px;
    .step {
        display: flex;
        .step--details {
            background: white;
            display: flex;
            position: relative;
            .step--number {
                font-family: Arial;
                font-size: 16px;
                color: white;
                width: 0;
                height: 0;
                border: 12px solid transparent;
                border-bottom-color: #e0e7ef;
                position: relative;
                top: -12px;
                margin-right: 18px;
                &::before {
                    content: '';
                    position: absolute;
                    left: -12px;
                    top: 12px;
                    width: 0;
                    height: 0;
                    border: 12px solid transparent;
                    border-top-color: #e0e7ef;
                }
                &.active {
                    border-bottom-color: #1b70d0;
                    &::before {
                        border-top-color: #1b70d0;
                    }

                }
                .step--number-inner {
                    position: absolute;
                    width: 50px;
                    margin-top: 2px;
                    margin-left: -4px;
                }

            }
            .step--title {
                font-family: Arial;
                font-size: 16px;
                color: #e0e7ef;
                margin-right: 12px;
                margin-top: 2px;
                &.active {
                    color: #1b70d0;
                }
            }
        }

    }
    .step--bar {
        flex: 1;
        height: 2px;
        margin-top: 12px;
        background: #e0e7ef;
        margin-right: 19px;
        &.active {
            background: #1b70d0;
        }
    }

}